<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="../assets/img/gestion.png" alt="" class="logo" > </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/departements">Departments</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav> -->

<!-- <div id="navbar">
  <div id="navbar-brand">
    <a href="#">UMG</a>
  </div>
  <nav>
    <ul>
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/departements">Department</a></li>
    </ul>
  </nav>
</div>
</div>


<style>

* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-family: Roboto;
  background-color: #283618;
  padding: 20px;
}

nav ul{
  list-style-type:none;
  display:flex;
}

a{
  text-decoration: none;
  color: #fff;
  padding: 20px;
  transition: 0.25s;
}

a:hover {
  font-weight: bold;
}

.active{
  background-color: #290813;
  font-weight: bold;
}
</style> -->

<header id="header">
  <nav>
      <div class="container">
          <div class="">
              <a href="/all_users" class="nav-brand   text-dark">users</a>
              <a href="/all_departement" class="nav-brand text-dark">Departement</a>
              <a href="/" class="nav-brand text-start">User Managment</a>
          </div>
         
      </div>
   
  </nav>
</header>